<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form class="card" action="/autentication/signin" method="POST">
        <div class="card-header">
          <h3>SignIp</h3>
        </div>
        <div class="card-body">
         
         
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="form-control mb-3"
          />

         
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control mb-3"
          />

            
        
          <button class="btn btn-success btn-block">
            sign in
          </button>
        </div>
      </form>


      <a href="/autentication/recu"> olvidate la contraseña</a>

     
      
      </p>
    </div>
  </div>
</div>                  
                       